.body-class {
  background-color: Salmon; 
  font-family: Georgia, serif; 
  font-size: 16px; 
}

.header-class {
  background-color: CadetBlue; 
  color: white; 
  padding: 5px;
}

.nav-class {
  background-color: NavajoWhite; 
  color: Salmon; 
  padding: 10px;
}

.nav-link-class {
  color: white; 
  text-decoration: none;
  margin: 0 10px;
}

.nav-link-class:hover {
  font-weight: bold; 
}


.title-class,
.section-title-class {
  color: White; 
}

.text-class {
  color: white; 
}

.image-class {
  border: 3px solid CadetBlue; 
  max-width: 100%; 
  height: auto;
}


.form-class input[type="text"],
.form-class input[type="email"],
.button-class {
  background-color: CadetBlue; 
  color: white; 
  border: 1px;
  padding: 8px 16px;
  border-radius: 4px;
}

.form-class input[type="text"],
.form-class input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
}

.button-class:hover {
  background-color: cadetblue;
  color: dimgray; 
}


.footer-class {
  background-color: cadetblue; 
  color: white; 
  text-align: center;
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .header-class {
    padding: 10px;
  }
  
  .nav-class {
    padding: 5px;
  }
  
  .nav-link-class {
    margin: 0 5px;
  }
  
  .title-class,
  .section-title-class {
    font-size: 24px; 
  }
  
  .text-class {
    font-size: 14px;
  }
}
